body {
    background-image: url('https://i.pinimg.com/736x/29/6d/55/296d55c48ba2a97a8570351df9d4b47d.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    
  }